.logInContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: minmax(fit-content, auto);
  grid-template-areas: 
  'nav nav'
  'login image'
  'footer footer';
  margin: auto;
  max-width: 1200px;
  height: 100svh;
  padding: 10px;
}
.navBar{
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navBar img{
  width: 40px;
}
.navBar p{
  font-weight: 500;
}
.logInImg {
  padding-top: 40px;
 grid-area: image;
 width: 100%;
 max-width: 600px;
}
.logInBox{
  padding: 40px 10px 10px 10px;
  grid-area: login;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logInHeader {
  font-size: 75px;
  margin-bottom: 20px;
  width: fit-content;
  background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  font-weight: 640;
  line-height: 80px;
}
.logInBox h3{
  font-weight: 400;
  font-size: medium;
}
.logInForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logInForm input {
  background: rgba(0, 0, 0, .04);
  border: none;
  font-size: small;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}
.logInForm input:focus {
  border: 1px solid #0084ff;
  outline: #0084ff;
}
.logInForm button {
  width: fit-content;
  border-radius: 40px;
  border: 1px solid #0084ff;
  border: white 1px unset;
  background-color: #0084ff;
  color: white;
  font-size: larger;
  font-weight: 200;
  padding: 10px 20px;
  cursor: pointer;
}
.logInForm button:hover{
  background-color: #4d4dff;
  border-color: #4d4dff;
}
.label{
  display: flex;
  width: fit-content;
  gap: 10px;
  font-size: smaller;
}
.label input{
  border-radius: 10px;
  width: fit-content; 
}
.footer{
  grid-area: footer;
  margin: auto;
  font-weight: 500;
}
.error{
  font-size: small;
  color: red;
}
.fixedInfo{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: small;
  font-weight: 400;
  width: 200px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .logInContainer {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'nav'
    'login'
    'image'
    'footer';
  }
  .logInBox{
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .logInHeader{
    font-size: 35px;
    text-align: center;
  }
  .logInImg{
    margin: auto;
  }
  .logInBox button{
    font-size: small;
    width: 100%;
  }
  .label{
    font-size: small;
  }
  .footer{
    font-size: smaller;
  }
  .footer span{
    display: none;
  }
}
