.message{
  display: flex;
  flex-flow: column wrap;
}
.messageTop{
  display: flex;
  align-items: center;
}
.photo{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.messageTop p{
  background-color: var(--tertiaryColor);
  color: var(--primaryColor);
  padding: 10px;
  border-radius: 20px;
}
.messageBottom{
  font-size: 12px;
  margin: 5px;
}
.own{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}
.own .messageTop p {
  background-color: rgb(224, 224, 224);
  color: rgb(37, 37, 37);
}
.hidden{
  display: none;
}
