.profileBox{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.photo{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
.logoutButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--secondaryColor);
  padding: 3px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.profileBox h2{
  font-weight: 500;
}
.profileBox h3{
  font-weight: 400;
}
.logoutButton:hover{
  transform: translateY(-1.5px);
  color: red;
}
